 .header {
            width: 100%;
            height: 80px;
            background-color: 	#0a1040;
            text-align: center;
            font-size: 1em;
            top: 0;
            position: fixed;
            right: 0;
            color: white;
           
         
            
        }
        .navbar1 {
            height: 50px;
            width: 1000px;
            text-align: center;
            position: fixed;
            top: 80px;
         
              
        }
        .content {
            
            width: 400px;
            background-color: white;
            float: left;
            margin-top: 130px;
            margin-bottom: 100px;
            padding-top: 20px;
        }

        .content1 {
            
            width: 400px;
            background-color: white;
            float: left;
            margin-top: 130px;
            margin-bottom: 100px;
            padding-top: 20px;
           
         }
        .slidebar {
            
            width: 200px;
            background-color: white;
            text-align: center;
            float: right;
            font-size: 25px;
            margin-top: 130px;
            margin-bottom: 100px;
            color: darkblue;
            font-family: Georgia, sans-serif;
      }

        .footer {
            height: 40px;
            width: 100%;
            background-color: #c5c2bd;
            text-align: center;
            font-size: 20px;
            position: fixed;
            bottom: 0;
            right: 0;
            padding-bottom: 10px;
            padding-top: 10px;
            color:#1d2556;
         }
        body {
            width: 1000px;
            margin: auto ;
            background-color: white;
         }
        
        p a:hover {
            color: darkgrey;
            text-decoration: none;
        }

        p {
           font-size: 17.7px; 
           color: darkblue;
           border-top: 1px solid gray;
                
        }
        a {
           color: red;
           text-decoration: none;
        }
        img {
           float: left;
         }
        
        
        ul {
           list-style-type: none;
           margin: 0;
           padding: 0;
           overflow: hidden;
           background-color: 	#ff0000;
          }

         li {
           float: left;
  
        }

li a {
    height: 40px;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
      color: azure;
    margin-left: 40px;
}

        
li.dropdown {
    display: block;
    
}

.dropdown-content {
   display: none;
   position: absolute;
  
 
}
.navbar a:hover, .dropdown:hover {
    background-color: darksalmon;
	color: white;
    
    
   
}

.dropdown-content a {
   
    padding: 5px;
  
    display: inline;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
        .slike {
            float: left;
            margin-left: 10px;
            border: solid thin #eeeeee;
            padding: 4px 12px;
      
        
        }
        .slike1 {
            
            float: left;
            margin-left: 10px;
             border: solid thin #eeeeee;
             padding: 4px 12px;
        }
        h5 {
          border-top: 30px; 
          text-align: left;
          border: solid thin #eeeeee;
          padding: 4px 12px;
          font-family: Times, New Roman, sans-serif;
            color: 		#545454;
          
        
        }
        .logo {
            
            float: left;
        }
.content2 {
    
             width: 700px;
            color: 	gray;
             padding-top: 50px;
            text-align: justify;
            background-color: white;
            float: left;
            margin-top: 130px;
            margin-bottom: 100px;
             margin-left: 30px;
            font-family: Arial, Helvetica, sans-serif;
           line-height: 22px;
           font-size: 15px;
}

.slike:hover{
    background-color: 	#aaaaaa;
    
    
    
}
.slike1:hover{
    background-color: 	#aaaaaa;
   
}

   
        
     
